<p>Welcome to Inventracker! This application helps you to keep track of computers and users that are assigned to those computers.</p>
</br>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Total Numbers of Computers: <span class="lead"><%= @computers.length %></span></p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Total Numbers of Users: <span class="lead"><%= @users.length %></span></p>
  </div>
</div>
